# Default Owner

- @NkululekoCyrilCele

# Terraform

terraform/ @NkululekoCyrilCele

# Documentation

docs/ @NkululekoCyrilCele

# Tests

tests/ @NkululekoCyrilCele

# Scripts

scripts/ @NkululekoCyrilCele

# Website

website/ @NkululekoCyrilCele
