# Local Development Servers and Editors
fiveserver.config.js
.vscode/
.cache/
.history/

# System Junk Files
Thumbs.db
Desktop.ini
.DS_Store

# Terraform Working Directories
terraform/.terraform/

# Terraform State Files
terraform/*.tfstate
terraform/*.tfstate.*

# Terraform Variable & Secret Files
terraform/terraform.tfvars
terraform/*.tfvars.json
website/js/config.js

# Terraform Logs and Overrides
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*._ovveride.tf