# ===========================
# Terraform
# ===========================
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
*.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# ===========================
# Terraform Variables
# ===========================
*.auto.tfvars
terraform.tfvars
*.tfvars
*.tfvars.json

# Retain documented examples
!*.tfvars.example

# ===========================
# Sensitive Files
# ===========================
*.pem
*.key
*.p12
*.crt

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Windows
# ===========================
Thumbs.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Temporary Files
# ===========================
tmp/
temp/

# ===========================
# Environment Variables
# ===========================
.env
.env.*

# TFLint
.tflint.d

# Checkov
.checkov.report*