aws_region = "af-south-1"

project_name = "mathlab-ai"
environment  = "production"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidr_a = "10.0.1.0/24"
public_subnet_cidr_b = "10.0.2.0/24"

private_subnet_cidr_a = "10.0.11.0/24"
private_subnet_cidr_b = "10.0.12.0/24"

assets_bucket_name = "replace-with-globally-unique-bucket-name"
alert_email        = "replace-with-valid-email-address"
domain_name        = "replace-with-registered-domain"

resource_prefix = "mathlab-ai-production"